.app__add-form {
    background-size: cover;
    background: url('../../assets/background.jpg') repeat fixed center;
    display: flex;
    justify-content: center;
}

.app__add-form_wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    color: var(--color-light-beige);
}

.app__add-form_wrapper h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.app__add-form_wrapper form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.app__add-form_wrapper input {
    margin-bottom: 2rem;
    font-size: 20px;
}

.app__add-form_wrapper button {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-light-beige);
    border: 2px solid var(--color-light-beige);
    border-radius: 5px;
    background-color: var(--color-dark-red);
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.app__add-form_wrapper button:hover {
    background-color: var(--color-dark-blue);
}